<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원목록</title>
</head>
<body>
<h2>회원목록</h2>
<table>
    <tr>
        <th>아이디</th>
        <th>비밀번호</th>
        <th>이름</th>
        <th>전화번호</th>
        <th>프로필 사진</th>
    </tr>
    <tr th:each="member: ${memberList}">
        <td th:text="${member.memberEmail}"></td>
        <td th:text="${member.memberPassword}"></td>
        <td th:text="${member.memberName}"></td>
        <td th:text="${member.memberMobile}"></td>
        <td><img th:src="@{|/upload/${member.memberProfileName}|}" width="100" height="100" alt=""></td>
    </tr>
</table>
</body>
</html>