<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세조회</title>
</head>
<body>
<h2>detail.html 게시글 상세조회</h2>
<table>
    <tr>
        <th>글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>내용</th>
        <th>조회수</th>
        <th>작성일자</th>
        <th>수정일자</th>
        <th>첨부파일</th>
    </tr>
    <tr>
        <td th:text="${board.id}"></td>
        <td th:text="${board.boardTitle}"></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardContents}"></td>
        <td th:text="${board.boardHits}"></td>
        <td th:text="*{#temporals.format(board.createdDate, 'yy-MM-dd HH:mm')}"></td>
        <td th:text="*{#temporals.format(board.updatedDate, 'yy-MM-dd HH:mm')}"></td>
        <td><img th:src="@{|/upload/${board.boardFileName}|}" width="100" height="100" alt=""></td>
        <td th:if="${session.loginEmail== board.boardWriter or session.loginEmail=='admin'}"><input type="button"
                                                                                                    onclick="boardDelete()"
                                                                                                    value="글 삭제"></td>
        <td th:if="${session.loginEmail== board.boardWriter}"><input type="button" onclick="boardUpdate()" value="글 수정">
        </td>
    </tr>
</table>
<form action="/comment/save" method="post">
    <input type="hidden" name="boardId" th:value="${board.id}">
    작성자 : <input type="text" name="commentWriter" th:value="${session.loginEmail}" readonly><br/>
    댓글내용 : <input type="text" name="commentContents"><br/>
    <button type="submit">작성</button><br/>
</form>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>작성자</td>
        <td>내용</td>
        <td>댓글시간</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${commentList}">
        <td th:text="${comment.id}"></td>
        <td th:text="${comment.commentWriter}"></td>
        <td th:text="${comment.commentContents}"></td>
        <td th:text="*{#temporals.format(comment.getCommentCreatedTime(), 'yy-MM-dd HH:mm')}"></td>
        <td><button type="button" th:onclick="deleteComment([[${comment.id}]])">삭제</button></td>
    </tr>
    </tbody>
</table>


</body>
<script>
    const boardDelete = () => {
        const id = [[${board.id}]]
        location.href = "/board/delete/" + id;
    }
    const boardUpdate = () => {
        const id = [[${board.id}]]
        location.href = "/board/update/" + id;
    }
    const deleteComment = (id) => {
        location.href = '/comment/delete/' + id;
    }

</script>
</html>